.UrlContainer {
  display: grid;
  margin-top: 24px;
  gap: 1rem;
  grid-template-columns: 1fr auto;

  .PreviewButton {
    // TODO: to be fixed with new ui-library components
    height: 2.5rem;
    margin-top: 24px;
  }

  .Target {
    grid-template-columns: 17.5rem calc(100% - 17.5rem);
    grid-template-rows: min-content  min-content auto 4rem;
  }
}
