.UrlContainer {
  display: grid;
  margin-top: to-rem(24px);
  gap: to-rem(16px);
  grid-template-columns: 1fr auto;

  .PreviewButton {
    // TODO: to be fixed with new ui-library components
    height: to-rem(40px);
    margin-top: to-rem(24px);
  }

  .Target {
    grid-template-columns: to-rem(280px) calc(100% - to-rem(280px));
    grid-template-rows: min-content  min-content auto to-rem(60px);
  }
}
